<br>
<br>
<br>
<br>
<br><div class="background-div">
         <BR>Nuestros Clientes<BR><BR>
</div>
<div class="container">

        <br>
        <br>
			<p style="text-align: justify;">Contamos con una cartera muy importante de clientes, en donde todos son relevantes. Siendo nuestro principal reto establecer y fortalecer un v&iacute;nculo a largo plazo, que represente un apoyo para hacer su negocio m&aacute;s productivo. 
			<br><br>Estas son algunas de las empresas que han confiado la capacitaci&oacute;n de su personal al CEC-ESPOL.</p>

             <%= image_tag('clientes.png', alt:'Clientes') %>
	</div>		<br>
